<%= simple_form_for(@cord, url: cord_path(@cord)) do |form| %>
<table>
  <thead>
    <tr>
      <th style="border: 1px solid black;">
        Property
      </th>
      <th style="border: 1px solid black;">
        Value
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> Id </td>
      <td><%= @cord.apiotics_instance %></td>
    </tr>
    <tr>
      <td> Name </td>
      <td><%= @cord.name %></td>
    </tr>

    <%= form.simple_fields_for :neo_pixel do |fields| %>
      <% (0..239).each do |i| %>
        <tr> 
          <td colspan=2>
            <%= fields.input :"pixel_#{i}" %>
          </td>
        </tr>
      <% end %> <!-- (0..239).each -->
      <tr>
        <td colspan=2><%= fields.input :pixels %></td>
      </tr>
    <% end %> <!-- form -->
    <tr>
      <td>&nbsp;</td>
      <td><div class="actions"><%= form.submit %></div></td>
    </tr>
  </tbody>
</table>
<% end %>
