<%= simple_form_for(@cord, url: cord_path(@cord)) do |form| %>
  <table>
    <tr>
      <th>
        Id
      </th>
      <td>
        <%= @cord.apiotics_instance %>
      </td>
    </tr>
    <tr>
      <th>
        Name
      </th>
      <td>
          <%= @cord.name %>
      </td>
    </tr>
    
      <tr>
        <th rowspan='257'>
          NeoPixel
        </th>
        <%= form.simple_fields_for :neo_pixel do |fields| %>
          
          
            
              <td>
                <%= fields.input :pixel_0 %>
              </td>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_1 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_2 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_3 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_4 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_5 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_6 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_7 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_8 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_9 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_10 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_11 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_12 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_13 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_14 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_15 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_16 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_17 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_18 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_19 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_20 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_21 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_22 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_23 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_24 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_25 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_26 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_27 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_28 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_29 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_30 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_31 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_32 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_33 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_34 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_35 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_36 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_37 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_38 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_39 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_40 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_41 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_42 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_43 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_44 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_45 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_46 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_47 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_48 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_49 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_50 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_51 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_52 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_53 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_54 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_55 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_56 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_57 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_58 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_59 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_60 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_61 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_62 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_63 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_64 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_65 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_66 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_67 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_68 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_69 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_70 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_71 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_72 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_73 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_74 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_75 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_76 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_77 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_78 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_79 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_80 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_81 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_82 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_83 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_84 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_85 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_86 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_87 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_88 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_89 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_90 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_91 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_92 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_93 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_94 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_95 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_96 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_97 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_98 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_99 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_100 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_101 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_102 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_103 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_104 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_105 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_106 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_107 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_108 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_109 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_110 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_111 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_112 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_113 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_114 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_115 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_116 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_117 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_118 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_119 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_120 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_121 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_122 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_123 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_124 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_125 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_126 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_127 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_128 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_129 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_130 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_131 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_132 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_133 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_134 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_135 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_136 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_137 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_138 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_139 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_140 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_141 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_142 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_143 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_144 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_145 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_146 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_147 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_148 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_149 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_150 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_151 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_152 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_153 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_154 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_155 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_156 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_157 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_158 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_159 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_160 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_161 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_162 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_163 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_164 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_165 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_166 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_167 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_168 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_169 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_170 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_171 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_172 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_173 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_174 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_175 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_176 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_177 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_178 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_179 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_180 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_181 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_182 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_183 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_184 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_185 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_186 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_187 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_188 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_189 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_190 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_191 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_192 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_193 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_194 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_195 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_196 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_197 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_198 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_199 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_200 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_201 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_202 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_203 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_204 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_205 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_206 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_207 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_208 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_209 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_210 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_211 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_212 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_213 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_214 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_215 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_216 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_217 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_218 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_219 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_220 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_221 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_222 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_223 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_224 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_225 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_226 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_227 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_228 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_229 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_230 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_231 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_232 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_233 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_234 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_235 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_236 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_237 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_238 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_239 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_240 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_241 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_242 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_243 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_244 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_245 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_246 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_247 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_248 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_249 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_250 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_251 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_252 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_253 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_254 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixel_255 %>
              </td>
            
              </tr>
            
            
          
            
              <tr>
            
              <td>
                <%= fields.input :pixels %>
              </td>
            
              </tr>
            
            
          
        <% end %>
      </tr>
    
      <tr>
        <th>
          &nbsp;
        </th>
        <td>
          <div class="actions">
            <%= form.submit %>
          </div>
        </td>
      </tr>
  </table>
<% end %>
