<p id="notice"><%= notice %></p>
<h1>
  Cords
</h1>

<table>
  <thead>
    <tr>
      <th style="border: 1px solid black;">
        Id
      </th>
      <th style="border: 1px solid black;">
        Name
      </th>
      
        <th colspan='257' style="border: 1px solid black;">
          NeoPixel
        </th>
      
      <th style="border: 1px solid black;">
        &nbsp;
      </th>
    </tr>
    <tr>
      <th>
        &nbsp;
      </th>
      <th>
        &nbsp;
      </th>
      
        
          <th>
            pixel_0
          </th>
        
          <th>
            pixel_1
          </th>
        
          <th>
            pixel_2
          </th>
        
          <th>
            pixel_3
          </th>
        
          <th>
            pixel_4
          </th>
        
          <th>
            pixel_5
          </th>
        
          <th>
            pixel_6
          </th>
        
          <th>
            pixel_7
          </th>
        
          <th>
            pixel_8
          </th>
        
          <th>
            pixel_9
          </th>
        
          <th>
            pixel_10
          </th>
        
          <th>
            pixel_11
          </th>
        
          <th>
            pixel_12
          </th>
        
          <th>
            pixel_13
          </th>
        
          <th>
            pixel_14
          </th>
        
          <th>
            pixel_15
          </th>
        
          <th>
            pixel_16
          </th>
        
          <th>
            pixel_17
          </th>
        
          <th>
            pixel_18
          </th>
        
          <th>
            pixel_19
          </th>
        
          <th>
            pixel_20
          </th>
        
          <th>
            pixel_21
          </th>
        
          <th>
            pixel_22
          </th>
        
          <th>
            pixel_23
          </th>
        
          <th>
            pixel_24
          </th>
        
          <th>
            pixel_25
          </th>
        
          <th>
            pixel_26
          </th>
        
          <th>
            pixel_27
          </th>
        
          <th>
            pixel_28
          </th>
        
          <th>
            pixel_29
          </th>
        
          <th>
            pixel_30
          </th>
        
          <th>
            pixel_31
          </th>
        
          <th>
            pixel_32
          </th>
        
          <th>
            pixel_33
          </th>
        
          <th>
            pixel_34
          </th>
        
          <th>
            pixel_35
          </th>
        
          <th>
            pixel_36
          </th>
        
          <th>
            pixel_37
          </th>
        
          <th>
            pixel_38
          </th>
        
          <th>
            pixel_39
          </th>
        
          <th>
            pixel_40
          </th>
        
          <th>
            pixel_41
          </th>
        
          <th>
            pixel_42
          </th>
        
          <th>
            pixel_43
          </th>
        
          <th>
            pixel_44
          </th>
        
          <th>
            pixel_45
          </th>
        
          <th>
            pixel_46
          </th>
        
          <th>
            pixel_47
          </th>
        
          <th>
            pixel_48
          </th>
        
          <th>
            pixel_49
          </th>
        
          <th>
            pixel_50
          </th>
        
          <th>
            pixel_51
          </th>
        
          <th>
            pixel_52
          </th>
        
          <th>
            pixel_53
          </th>
        
          <th>
            pixel_54
          </th>
        
          <th>
            pixel_55
          </th>
        
          <th>
            pixel_56
          </th>
        
          <th>
            pixel_57
          </th>
        
          <th>
            pixel_58
          </th>
        
          <th>
            pixel_59
          </th>
        
          <th>
            pixel_60
          </th>
        
          <th>
            pixel_61
          </th>
        
          <th>
            pixel_62
          </th>
        
          <th>
            pixel_63
          </th>
        
          <th>
            pixel_64
          </th>
        
          <th>
            pixel_65
          </th>
        
          <th>
            pixel_66
          </th>
        
          <th>
            pixel_67
          </th>
        
          <th>
            pixel_68
          </th>
        
          <th>
            pixel_69
          </th>
        
          <th>
            pixel_70
          </th>
        
          <th>
            pixel_71
          </th>
        
          <th>
            pixel_72
          </th>
        
          <th>
            pixel_73
          </th>
        
          <th>
            pixel_74
          </th>
        
          <th>
            pixel_75
          </th>
        
          <th>
            pixel_76
          </th>
        
          <th>
            pixel_77
          </th>
        
          <th>
            pixel_78
          </th>
        
          <th>
            pixel_79
          </th>
        
          <th>
            pixel_80
          </th>
        
          <th>
            pixel_81
          </th>
        
          <th>
            pixel_82
          </th>
        
          <th>
            pixel_83
          </th>
        
          <th>
            pixel_84
          </th>
        
          <th>
            pixel_85
          </th>
        
          <th>
            pixel_86
          </th>
        
          <th>
            pixel_87
          </th>
        
          <th>
            pixel_88
          </th>
        
          <th>
            pixel_89
          </th>
        
          <th>
            pixel_90
          </th>
        
          <th>
            pixel_91
          </th>
        
          <th>
            pixel_92
          </th>
        
          <th>
            pixel_93
          </th>
        
          <th>
            pixel_94
          </th>
        
          <th>
            pixel_95
          </th>
        
          <th>
            pixel_96
          </th>
        
          <th>
            pixel_97
          </th>
        
          <th>
            pixel_98
          </th>
        
          <th>
            pixel_99
          </th>
        
          <th>
            pixel_100
          </th>
        
          <th>
            pixel_101
          </th>
        
          <th>
            pixel_102
          </th>
        
          <th>
            pixel_103
          </th>
        
          <th>
            pixel_104
          </th>
        
          <th>
            pixel_105
          </th>
        
          <th>
            pixel_106
          </th>
        
          <th>
            pixel_107
          </th>
        
          <th>
            pixel_108
          </th>
        
          <th>
            pixel_109
          </th>
        
          <th>
            pixel_110
          </th>
        
          <th>
            pixel_111
          </th>
        
          <th>
            pixel_112
          </th>
        
          <th>
            pixel_113
          </th>
        
          <th>
            pixel_114
          </th>
        
          <th>
            pixel_115
          </th>
        
          <th>
            pixel_116
          </th>
        
          <th>
            pixel_117
          </th>
        
          <th>
            pixel_118
          </th>
        
          <th>
            pixel_119
          </th>
        
          <th>
            pixel_120
          </th>
        
          <th>
            pixel_121
          </th>
        
          <th>
            pixel_122
          </th>
        
          <th>
            pixel_123
          </th>
        
          <th>
            pixel_124
          </th>
        
          <th>
            pixel_125
          </th>
        
          <th>
            pixel_126
          </th>
        
          <th>
            pixel_127
          </th>
        
          <th>
            pixel_128
          </th>
        
          <th>
            pixel_129
          </th>
        
          <th>
            pixel_130
          </th>
        
          <th>
            pixel_131
          </th>
        
          <th>
            pixel_132
          </th>
        
          <th>
            pixel_133
          </th>
        
          <th>
            pixel_134
          </th>
        
          <th>
            pixel_135
          </th>
        
          <th>
            pixel_136
          </th>
        
          <th>
            pixel_137
          </th>
        
          <th>
            pixel_138
          </th>
        
          <th>
            pixel_139
          </th>
        
          <th>
            pixel_140
          </th>
        
          <th>
            pixel_141
          </th>
        
          <th>
            pixel_142
          </th>
        
          <th>
            pixel_143
          </th>
        
          <th>
            pixel_144
          </th>
        
          <th>
            pixel_145
          </th>
        
          <th>
            pixel_146
          </th>
        
          <th>
            pixel_147
          </th>
        
          <th>
            pixel_148
          </th>
        
          <th>
            pixel_149
          </th>
        
          <th>
            pixel_150
          </th>
        
          <th>
            pixel_151
          </th>
        
          <th>
            pixel_152
          </th>
        
          <th>
            pixel_153
          </th>
        
          <th>
            pixel_154
          </th>
        
          <th>
            pixel_155
          </th>
        
          <th>
            pixel_156
          </th>
        
          <th>
            pixel_157
          </th>
        
          <th>
            pixel_158
          </th>
        
          <th>
            pixel_159
          </th>
        
          <th>
            pixel_160
          </th>
        
          <th>
            pixel_161
          </th>
        
          <th>
            pixel_162
          </th>
        
          <th>
            pixel_163
          </th>
        
          <th>
            pixel_164
          </th>
        
          <th>
            pixel_165
          </th>
        
          <th>
            pixel_166
          </th>
        
          <th>
            pixel_167
          </th>
        
          <th>
            pixel_168
          </th>
        
          <th>
            pixel_169
          </th>
        
          <th>
            pixel_170
          </th>
        
          <th>
            pixel_171
          </th>
        
          <th>
            pixel_172
          </th>
        
          <th>
            pixel_173
          </th>
        
          <th>
            pixel_174
          </th>
        
          <th>
            pixel_175
          </th>
        
          <th>
            pixel_176
          </th>
        
          <th>
            pixel_177
          </th>
        
          <th>
            pixel_178
          </th>
        
          <th>
            pixel_179
          </th>
        
          <th>
            pixel_180
          </th>
        
          <th>
            pixel_181
          </th>
        
          <th>
            pixel_182
          </th>
        
          <th>
            pixel_183
          </th>
        
          <th>
            pixel_184
          </th>
        
          <th>
            pixel_185
          </th>
        
          <th>
            pixel_186
          </th>
        
          <th>
            pixel_187
          </th>
        
          <th>
            pixel_188
          </th>
        
          <th>
            pixel_189
          </th>
        
          <th>
            pixel_190
          </th>
        
          <th>
            pixel_191
          </th>
        
          <th>
            pixel_192
          </th>
        
          <th>
            pixel_193
          </th>
        
          <th>
            pixel_194
          </th>
        
          <th>
            pixel_195
          </th>
        
          <th>
            pixel_196
          </th>
        
          <th>
            pixel_197
          </th>
        
          <th>
            pixel_198
          </th>
        
          <th>
            pixel_199
          </th>
        
          <th>
            pixel_200
          </th>
        
          <th>
            pixel_201
          </th>
        
          <th>
            pixel_202
          </th>
        
          <th>
            pixel_203
          </th>
        
          <th>
            pixel_204
          </th>
        
          <th>
            pixel_205
          </th>
        
          <th>
            pixel_206
          </th>
        
          <th>
            pixel_207
          </th>
        
          <th>
            pixel_208
          </th>
        
          <th>
            pixel_209
          </th>
        
          <th>
            pixel_210
          </th>
        
          <th>
            pixel_211
          </th>
        
          <th>
            pixel_212
          </th>
        
          <th>
            pixel_213
          </th>
        
          <th>
            pixel_214
          </th>
        
          <th>
            pixel_215
          </th>
        
          <th>
            pixel_216
          </th>
        
          <th>
            pixel_217
          </th>
        
          <th>
            pixel_218
          </th>
        
          <th>
            pixel_219
          </th>
        
          <th>
            pixel_220
          </th>
        
          <th>
            pixel_221
          </th>
        
          <th>
            pixel_222
          </th>
        
          <th>
            pixel_223
          </th>
        
          <th>
            pixel_224
          </th>
        
          <th>
            pixel_225
          </th>
        
          <th>
            pixel_226
          </th>
        
          <th>
            pixel_227
          </th>
        
          <th>
            pixel_228
          </th>
        
          <th>
            pixel_229
          </th>
        
          <th>
            pixel_230
          </th>
        
          <th>
            pixel_231
          </th>
        
          <th>
            pixel_232
          </th>
        
          <th>
            pixel_233
          </th>
        
          <th>
            pixel_234
          </th>
        
          <th>
            pixel_235
          </th>
        
          <th>
            pixel_236
          </th>
        
          <th>
            pixel_237
          </th>
        
          <th>
            pixel_238
          </th>
        
          <th>
            pixel_239
          </th>
        
          <th>
            pixel_240
          </th>
        
          <th>
            pixel_241
          </th>
        
          <th>
            pixel_242
          </th>
        
          <th>
            pixel_243
          </th>
        
          <th>
            pixel_244
          </th>
        
          <th>
            pixel_245
          </th>
        
          <th>
            pixel_246
          </th>
        
          <th>
            pixel_247
          </th>
        
          <th>
            pixel_248
          </th>
        
          <th>
            pixel_249
          </th>
        
          <th>
            pixel_250
          </th>
        
          <th>
            pixel_251
          </th>
        
          <th>
            pixel_252
          </th>
        
          <th>
            pixel_253
          </th>
        
          <th>
            pixel_254
          </th>
        
          <th>
            pixel_255
          </th>
        
          <th>
            pixels
          </th>
        
      
      <th>
        &nbsp;
      </th>
    </tr>
  </thead>
  <tbody>
    <% @cords.each do |object| %>
      <tr id='<%= object.apiotics_instance %>'>
        <td>
          <%= object.apiotics_instance %>
        </td>
        <td>
          <%= object.name %>
        </td>
        
          
            <td class='cord-neo_pixel-pixel_0'>
              <%= object.neo_pixel.pixel_0 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_1'>
              <%= object.neo_pixel.pixel_1 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_2'>
              <%= object.neo_pixel.pixel_2 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_3'>
              <%= object.neo_pixel.pixel_3 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_4'>
              <%= object.neo_pixel.pixel_4 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_5'>
              <%= object.neo_pixel.pixel_5 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_6'>
              <%= object.neo_pixel.pixel_6 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_7'>
              <%= object.neo_pixel.pixel_7 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_8'>
              <%= object.neo_pixel.pixel_8 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_9'>
              <%= object.neo_pixel.pixel_9 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_10'>
              <%= object.neo_pixel.pixel_10 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_11'>
              <%= object.neo_pixel.pixel_11 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_12'>
              <%= object.neo_pixel.pixel_12 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_13'>
              <%= object.neo_pixel.pixel_13 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_14'>
              <%= object.neo_pixel.pixel_14 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_15'>
              <%= object.neo_pixel.pixel_15 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_16'>
              <%= object.neo_pixel.pixel_16 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_17'>
              <%= object.neo_pixel.pixel_17 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_18'>
              <%= object.neo_pixel.pixel_18 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_19'>
              <%= object.neo_pixel.pixel_19 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_20'>
              <%= object.neo_pixel.pixel_20 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_21'>
              <%= object.neo_pixel.pixel_21 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_22'>
              <%= object.neo_pixel.pixel_22 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_23'>
              <%= object.neo_pixel.pixel_23 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_24'>
              <%= object.neo_pixel.pixel_24 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_25'>
              <%= object.neo_pixel.pixel_25 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_26'>
              <%= object.neo_pixel.pixel_26 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_27'>
              <%= object.neo_pixel.pixel_27 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_28'>
              <%= object.neo_pixel.pixel_28 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_29'>
              <%= object.neo_pixel.pixel_29 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_30'>
              <%= object.neo_pixel.pixel_30 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_31'>
              <%= object.neo_pixel.pixel_31 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_32'>
              <%= object.neo_pixel.pixel_32 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_33'>
              <%= object.neo_pixel.pixel_33 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_34'>
              <%= object.neo_pixel.pixel_34 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_35'>
              <%= object.neo_pixel.pixel_35 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_36'>
              <%= object.neo_pixel.pixel_36 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_37'>
              <%= object.neo_pixel.pixel_37 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_38'>
              <%= object.neo_pixel.pixel_38 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_39'>
              <%= object.neo_pixel.pixel_39 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_40'>
              <%= object.neo_pixel.pixel_40 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_41'>
              <%= object.neo_pixel.pixel_41 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_42'>
              <%= object.neo_pixel.pixel_42 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_43'>
              <%= object.neo_pixel.pixel_43 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_44'>
              <%= object.neo_pixel.pixel_44 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_45'>
              <%= object.neo_pixel.pixel_45 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_46'>
              <%= object.neo_pixel.pixel_46 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_47'>
              <%= object.neo_pixel.pixel_47 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_48'>
              <%= object.neo_pixel.pixel_48 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_49'>
              <%= object.neo_pixel.pixel_49 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_50'>
              <%= object.neo_pixel.pixel_50 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_51'>
              <%= object.neo_pixel.pixel_51 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_52'>
              <%= object.neo_pixel.pixel_52 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_53'>
              <%= object.neo_pixel.pixel_53 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_54'>
              <%= object.neo_pixel.pixel_54 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_55'>
              <%= object.neo_pixel.pixel_55 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_56'>
              <%= object.neo_pixel.pixel_56 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_57'>
              <%= object.neo_pixel.pixel_57 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_58'>
              <%= object.neo_pixel.pixel_58 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_59'>
              <%= object.neo_pixel.pixel_59 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_60'>
              <%= object.neo_pixel.pixel_60 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_61'>
              <%= object.neo_pixel.pixel_61 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_62'>
              <%= object.neo_pixel.pixel_62 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_63'>
              <%= object.neo_pixel.pixel_63 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_64'>
              <%= object.neo_pixel.pixel_64 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_65'>
              <%= object.neo_pixel.pixel_65 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_66'>
              <%= object.neo_pixel.pixel_66 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_67'>
              <%= object.neo_pixel.pixel_67 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_68'>
              <%= object.neo_pixel.pixel_68 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_69'>
              <%= object.neo_pixel.pixel_69 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_70'>
              <%= object.neo_pixel.pixel_70 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_71'>
              <%= object.neo_pixel.pixel_71 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_72'>
              <%= object.neo_pixel.pixel_72 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_73'>
              <%= object.neo_pixel.pixel_73 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_74'>
              <%= object.neo_pixel.pixel_74 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_75'>
              <%= object.neo_pixel.pixel_75 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_76'>
              <%= object.neo_pixel.pixel_76 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_77'>
              <%= object.neo_pixel.pixel_77 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_78'>
              <%= object.neo_pixel.pixel_78 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_79'>
              <%= object.neo_pixel.pixel_79 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_80'>
              <%= object.neo_pixel.pixel_80 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_81'>
              <%= object.neo_pixel.pixel_81 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_82'>
              <%= object.neo_pixel.pixel_82 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_83'>
              <%= object.neo_pixel.pixel_83 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_84'>
              <%= object.neo_pixel.pixel_84 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_85'>
              <%= object.neo_pixel.pixel_85 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_86'>
              <%= object.neo_pixel.pixel_86 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_87'>
              <%= object.neo_pixel.pixel_87 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_88'>
              <%= object.neo_pixel.pixel_88 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_89'>
              <%= object.neo_pixel.pixel_89 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_90'>
              <%= object.neo_pixel.pixel_90 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_91'>
              <%= object.neo_pixel.pixel_91 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_92'>
              <%= object.neo_pixel.pixel_92 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_93'>
              <%= object.neo_pixel.pixel_93 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_94'>
              <%= object.neo_pixel.pixel_94 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_95'>
              <%= object.neo_pixel.pixel_95 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_96'>
              <%= object.neo_pixel.pixel_96 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_97'>
              <%= object.neo_pixel.pixel_97 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_98'>
              <%= object.neo_pixel.pixel_98 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_99'>
              <%= object.neo_pixel.pixel_99 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_100'>
              <%= object.neo_pixel.pixel_100 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_101'>
              <%= object.neo_pixel.pixel_101 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_102'>
              <%= object.neo_pixel.pixel_102 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_103'>
              <%= object.neo_pixel.pixel_103 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_104'>
              <%= object.neo_pixel.pixel_104 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_105'>
              <%= object.neo_pixel.pixel_105 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_106'>
              <%= object.neo_pixel.pixel_106 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_107'>
              <%= object.neo_pixel.pixel_107 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_108'>
              <%= object.neo_pixel.pixel_108 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_109'>
              <%= object.neo_pixel.pixel_109 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_110'>
              <%= object.neo_pixel.pixel_110 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_111'>
              <%= object.neo_pixel.pixel_111 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_112'>
              <%= object.neo_pixel.pixel_112 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_113'>
              <%= object.neo_pixel.pixel_113 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_114'>
              <%= object.neo_pixel.pixel_114 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_115'>
              <%= object.neo_pixel.pixel_115 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_116'>
              <%= object.neo_pixel.pixel_116 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_117'>
              <%= object.neo_pixel.pixel_117 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_118'>
              <%= object.neo_pixel.pixel_118 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_119'>
              <%= object.neo_pixel.pixel_119 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_120'>
              <%= object.neo_pixel.pixel_120 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_121'>
              <%= object.neo_pixel.pixel_121 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_122'>
              <%= object.neo_pixel.pixel_122 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_123'>
              <%= object.neo_pixel.pixel_123 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_124'>
              <%= object.neo_pixel.pixel_124 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_125'>
              <%= object.neo_pixel.pixel_125 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_126'>
              <%= object.neo_pixel.pixel_126 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_127'>
              <%= object.neo_pixel.pixel_127 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_128'>
              <%= object.neo_pixel.pixel_128 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_129'>
              <%= object.neo_pixel.pixel_129 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_130'>
              <%= object.neo_pixel.pixel_130 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_131'>
              <%= object.neo_pixel.pixel_131 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_132'>
              <%= object.neo_pixel.pixel_132 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_133'>
              <%= object.neo_pixel.pixel_133 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_134'>
              <%= object.neo_pixel.pixel_134 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_135'>
              <%= object.neo_pixel.pixel_135 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_136'>
              <%= object.neo_pixel.pixel_136 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_137'>
              <%= object.neo_pixel.pixel_137 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_138'>
              <%= object.neo_pixel.pixel_138 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_139'>
              <%= object.neo_pixel.pixel_139 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_140'>
              <%= object.neo_pixel.pixel_140 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_141'>
              <%= object.neo_pixel.pixel_141 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_142'>
              <%= object.neo_pixel.pixel_142 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_143'>
              <%= object.neo_pixel.pixel_143 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_144'>
              <%= object.neo_pixel.pixel_144 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_145'>
              <%= object.neo_pixel.pixel_145 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_146'>
              <%= object.neo_pixel.pixel_146 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_147'>
              <%= object.neo_pixel.pixel_147 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_148'>
              <%= object.neo_pixel.pixel_148 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_149'>
              <%= object.neo_pixel.pixel_149 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_150'>
              <%= object.neo_pixel.pixel_150 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_151'>
              <%= object.neo_pixel.pixel_151 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_152'>
              <%= object.neo_pixel.pixel_152 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_153'>
              <%= object.neo_pixel.pixel_153 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_154'>
              <%= object.neo_pixel.pixel_154 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_155'>
              <%= object.neo_pixel.pixel_155 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_156'>
              <%= object.neo_pixel.pixel_156 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_157'>
              <%= object.neo_pixel.pixel_157 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_158'>
              <%= object.neo_pixel.pixel_158 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_159'>
              <%= object.neo_pixel.pixel_159 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_160'>
              <%= object.neo_pixel.pixel_160 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_161'>
              <%= object.neo_pixel.pixel_161 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_162'>
              <%= object.neo_pixel.pixel_162 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_163'>
              <%= object.neo_pixel.pixel_163 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_164'>
              <%= object.neo_pixel.pixel_164 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_165'>
              <%= object.neo_pixel.pixel_165 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_166'>
              <%= object.neo_pixel.pixel_166 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_167'>
              <%= object.neo_pixel.pixel_167 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_168'>
              <%= object.neo_pixel.pixel_168 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_169'>
              <%= object.neo_pixel.pixel_169 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_170'>
              <%= object.neo_pixel.pixel_170 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_171'>
              <%= object.neo_pixel.pixel_171 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_172'>
              <%= object.neo_pixel.pixel_172 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_173'>
              <%= object.neo_pixel.pixel_173 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_174'>
              <%= object.neo_pixel.pixel_174 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_175'>
              <%= object.neo_pixel.pixel_175 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_176'>
              <%= object.neo_pixel.pixel_176 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_177'>
              <%= object.neo_pixel.pixel_177 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_178'>
              <%= object.neo_pixel.pixel_178 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_179'>
              <%= object.neo_pixel.pixel_179 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_180'>
              <%= object.neo_pixel.pixel_180 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_181'>
              <%= object.neo_pixel.pixel_181 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_182'>
              <%= object.neo_pixel.pixel_182 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_183'>
              <%= object.neo_pixel.pixel_183 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_184'>
              <%= object.neo_pixel.pixel_184 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_185'>
              <%= object.neo_pixel.pixel_185 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_186'>
              <%= object.neo_pixel.pixel_186 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_187'>
              <%= object.neo_pixel.pixel_187 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_188'>
              <%= object.neo_pixel.pixel_188 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_189'>
              <%= object.neo_pixel.pixel_189 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_190'>
              <%= object.neo_pixel.pixel_190 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_191'>
              <%= object.neo_pixel.pixel_191 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_192'>
              <%= object.neo_pixel.pixel_192 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_193'>
              <%= object.neo_pixel.pixel_193 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_194'>
              <%= object.neo_pixel.pixel_194 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_195'>
              <%= object.neo_pixel.pixel_195 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_196'>
              <%= object.neo_pixel.pixel_196 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_197'>
              <%= object.neo_pixel.pixel_197 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_198'>
              <%= object.neo_pixel.pixel_198 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_199'>
              <%= object.neo_pixel.pixel_199 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_200'>
              <%= object.neo_pixel.pixel_200 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_201'>
              <%= object.neo_pixel.pixel_201 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_202'>
              <%= object.neo_pixel.pixel_202 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_203'>
              <%= object.neo_pixel.pixel_203 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_204'>
              <%= object.neo_pixel.pixel_204 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_205'>
              <%= object.neo_pixel.pixel_205 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_206'>
              <%= object.neo_pixel.pixel_206 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_207'>
              <%= object.neo_pixel.pixel_207 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_208'>
              <%= object.neo_pixel.pixel_208 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_209'>
              <%= object.neo_pixel.pixel_209 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_210'>
              <%= object.neo_pixel.pixel_210 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_211'>
              <%= object.neo_pixel.pixel_211 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_212'>
              <%= object.neo_pixel.pixel_212 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_213'>
              <%= object.neo_pixel.pixel_213 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_214'>
              <%= object.neo_pixel.pixel_214 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_215'>
              <%= object.neo_pixel.pixel_215 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_216'>
              <%= object.neo_pixel.pixel_216 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_217'>
              <%= object.neo_pixel.pixel_217 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_218'>
              <%= object.neo_pixel.pixel_218 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_219'>
              <%= object.neo_pixel.pixel_219 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_220'>
              <%= object.neo_pixel.pixel_220 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_221'>
              <%= object.neo_pixel.pixel_221 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_222'>
              <%= object.neo_pixel.pixel_222 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_223'>
              <%= object.neo_pixel.pixel_223 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_224'>
              <%= object.neo_pixel.pixel_224 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_225'>
              <%= object.neo_pixel.pixel_225 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_226'>
              <%= object.neo_pixel.pixel_226 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_227'>
              <%= object.neo_pixel.pixel_227 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_228'>
              <%= object.neo_pixel.pixel_228 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_229'>
              <%= object.neo_pixel.pixel_229 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_230'>
              <%= object.neo_pixel.pixel_230 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_231'>
              <%= object.neo_pixel.pixel_231 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_232'>
              <%= object.neo_pixel.pixel_232 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_233'>
              <%= object.neo_pixel.pixel_233 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_234'>
              <%= object.neo_pixel.pixel_234 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_235'>
              <%= object.neo_pixel.pixel_235 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_236'>
              <%= object.neo_pixel.pixel_236 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_237'>
              <%= object.neo_pixel.pixel_237 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_238'>
              <%= object.neo_pixel.pixel_238 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_239'>
              <%= object.neo_pixel.pixel_239 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_240'>
              <%= object.neo_pixel.pixel_240 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_241'>
              <%= object.neo_pixel.pixel_241 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_242'>
              <%= object.neo_pixel.pixel_242 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_243'>
              <%= object.neo_pixel.pixel_243 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_244'>
              <%= object.neo_pixel.pixel_244 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_245'>
              <%= object.neo_pixel.pixel_245 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_246'>
              <%= object.neo_pixel.pixel_246 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_247'>
              <%= object.neo_pixel.pixel_247 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_248'>
              <%= object.neo_pixel.pixel_248 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_249'>
              <%= object.neo_pixel.pixel_249 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_250'>
              <%= object.neo_pixel.pixel_250 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_251'>
              <%= object.neo_pixel.pixel_251 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_252'>
              <%= object.neo_pixel.pixel_252 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_253'>
              <%= object.neo_pixel.pixel_253 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_254'>
              <%= object.neo_pixel.pixel_254 %>
            </td>
          
            <td class='cord-neo_pixel-pixel_255'>
              <%= object.neo_pixel.pixel_255 %>
            </td>
          
            <td class='cord-neo_pixel-pixels'>
              <%= object.neo_pixel.pixels %>
            </td>
          
        
        <td>
          <%= link_to "Edit", edit_cord_path(object)%>
          <%= link_to "Show", cord_path(object) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>