<h1>
  Cords
</h1>
<table>
  <thead>
    <tr>
      <th style="border: 1px solid black;">
        Property
      </th>
      <th style="border: 1px solid black;">
        Value
      </th>
    </tr>
   </thead>
   <tbody>
   	<% @cords.each do |object| %>
     	<tr>
     		<td> Id </td>
     		<td><%= object.apiotics_instance %></td>
      </tr>
      <tr>
     		<td> Name </td>
     		<td><%= object.name %></td>
      </tr>
      <% (0..239).each do |i| %>
        <tr> 
          <td><%= "pixel_#{i}" %></td>
          <td class='<%= "cord-neo_pixel-pixel_#{i}"%>'>
            <%= object.neo_pixel.send("pixel_#{i}")%>
          </td>
        </tr>
      <% end %> <!-- (0..239).each -->
      <tr>
        <td>Actions</td>
        <td><%= link_to "Edit", edit_cord_path(object)%>, <%= link_to "Show", cord_path(object) %>, <%= link_to "Commands", commands_cord_path(object) %> </td>
      </tr>
    <% end %> <!-- @cords.each -->
   </tbody>
</table>
