<p id="notice"><%= notice %></p>
<h1>
  Wires
</h1>

<table>
  <thead>
    <tr>
      <th style="border: 1px solid black;">
        Id
      </th>
      <th style="border: 1px solid black;">
        Name
      </th>
      
        <th colspan='240' style="border: 1px solid black;">
          NeoPixel
        </th>
      
      <th style="border: 1px solid black;">
        &nbsp;
      </th>
    </tr>
    <tr>
      <th>
        &nbsp;
      </th>
      <th>
        &nbsp;
      </th>
      
        
          <th>
            led_0
          </th>
        
          <th>
            led_1
          </th>
        
          <th>
            led_2
          </th>
        
          <th>
            led_3
          </th>
        
          <th>
            led_4
          </th>
        
          <th>
            led_5
          </th>
        
          <th>
            led_6
          </th>
        
          <th>
            led_7
          </th>
        
          <th>
            led_8
          </th>
        
          <th>
            led_9
          </th>
        
          <th>
            led_10
          </th>
        
          <th>
            led_11
          </th>
        
          <th>
            led_12
          </th>
        
          <th>
            led_13
          </th>
        
          <th>
            led_14
          </th>
        
          <th>
            led_15
          </th>
        
          <th>
            led_16
          </th>
        
          <th>
            led_17
          </th>
        
          <th>
            led_18
          </th>
        
          <th>
            led_19
          </th>
        
          <th>
            led_20
          </th>
        
          <th>
            led_21
          </th>
        
          <th>
            led_22
          </th>
        
          <th>
            led_23
          </th>
        
          <th>
            led_24
          </th>
        
          <th>
            led_25
          </th>
        
          <th>
            led_26
          </th>
        
          <th>
            led_27
          </th>
        
          <th>
            led_28
          </th>
        
          <th>
            led_29
          </th>
        
          <th>
            led_30
          </th>
        
          <th>
            led_31
          </th>
        
          <th>
            led_32
          </th>
        
          <th>
            led_33
          </th>
        
          <th>
            led_34
          </th>
        
          <th>
            led_35
          </th>
        
          <th>
            led_36
          </th>
        
          <th>
            led_37
          </th>
        
          <th>
            led_38
          </th>
        
          <th>
            led_39
          </th>
        
          <th>
            led_40
          </th>
        
          <th>
            led_41
          </th>
        
          <th>
            led_42
          </th>
        
          <th>
            led_43
          </th>
        
          <th>
            led_44
          </th>
        
          <th>
            led_45
          </th>
        
          <th>
            led_46
          </th>
        
          <th>
            led_47
          </th>
        
          <th>
            led_48
          </th>
        
          <th>
            led_49
          </th>
        
          <th>
            led_50
          </th>
        
          <th>
            led_51
          </th>
        
          <th>
            led_52
          </th>
        
          <th>
            led_53
          </th>
        
          <th>
            led_54
          </th>
        
          <th>
            led_55
          </th>
        
          <th>
            led_56
          </th>
        
          <th>
            led_57
          </th>
        
          <th>
            led_58
          </th>
        
          <th>
            led_59
          </th>
        
          <th>
            led_60
          </th>
        
          <th>
            led_61
          </th>
        
          <th>
            led_62
          </th>
        
          <th>
            led_63
          </th>
        
          <th>
            led_64
          </th>
        
          <th>
            led_65
          </th>
        
          <th>
            led_66
          </th>
        
          <th>
            led_67
          </th>
        
          <th>
            led_68
          </th>
        
          <th>
            led_69
          </th>
        
          <th>
            led_70
          </th>
        
          <th>
            led_71
          </th>
        
          <th>
            led_72
          </th>
        
          <th>
            led_73
          </th>
        
          <th>
            led_74
          </th>
        
          <th>
            led_75
          </th>
        
          <th>
            led_76
          </th>
        
          <th>
            led_77
          </th>
        
          <th>
            led_78
          </th>
        
          <th>
            led_79
          </th>
        
          <th>
            led_80
          </th>
        
          <th>
            led_81
          </th>
        
          <th>
            led_82
          </th>
        
          <th>
            led_83
          </th>
        
          <th>
            led_84
          </th>
        
          <th>
            led_85
          </th>
        
          <th>
            led_86
          </th>
        
          <th>
            led_87
          </th>
        
          <th>
            led_88
          </th>
        
          <th>
            led_89
          </th>
        
          <th>
            led_90
          </th>
        
          <th>
            led_91
          </th>
        
          <th>
            led_92
          </th>
        
          <th>
            led_93
          </th>
        
          <th>
            led_94
          </th>
        
          <th>
            led_95
          </th>
        
          <th>
            led_96
          </th>
        
          <th>
            led_97
          </th>
        
          <th>
            led_98
          </th>
        
          <th>
            led_99
          </th>
        
          <th>
            led_100
          </th>
        
          <th>
            led_101
          </th>
        
          <th>
            led_102
          </th>
        
          <th>
            led_103
          </th>
        
          <th>
            led_104
          </th>
        
          <th>
            led_105
          </th>
        
          <th>
            led_106
          </th>
        
          <th>
            led_107
          </th>
        
          <th>
            led_108
          </th>
        
          <th>
            led_109
          </th>
        
          <th>
            led_110
          </th>
        
          <th>
            led_111
          </th>
        
          <th>
            led_112
          </th>
        
          <th>
            led_113
          </th>
        
          <th>
            led_114
          </th>
        
          <th>
            led_115
          </th>
        
          <th>
            led_116
          </th>
        
          <th>
            led_117
          </th>
        
          <th>
            led_118
          </th>
        
          <th>
            led_119
          </th>
        
          <th>
            led_120
          </th>
        
          <th>
            led_121
          </th>
        
          <th>
            led_122
          </th>
        
          <th>
            led_123
          </th>
        
          <th>
            led_124
          </th>
        
          <th>
            led_125
          </th>
        
          <th>
            led_126
          </th>
        
          <th>
            led_127
          </th>
        
          <th>
            led_128
          </th>
        
          <th>
            led_129
          </th>
        
          <th>
            led_130
          </th>
        
          <th>
            led_131
          </th>
        
          <th>
            led_132
          </th>
        
          <th>
            led_133
          </th>
        
          <th>
            led_134
          </th>
        
          <th>
            led_135
          </th>
        
          <th>
            led_136
          </th>
        
          <th>
            led_137
          </th>
        
          <th>
            led_138
          </th>
        
          <th>
            led_139
          </th>
        
          <th>
            led_140
          </th>
        
          <th>
            led_141
          </th>
        
          <th>
            led_142
          </th>
        
          <th>
            led_143
          </th>
        
          <th>
            led_144
          </th>
        
          <th>
            led_145
          </th>
        
          <th>
            led_146
          </th>
        
          <th>
            led_147
          </th>
        
          <th>
            led_148
          </th>
        
          <th>
            led_149
          </th>
        
          <th>
            led_150
          </th>
        
          <th>
            led_151
          </th>
        
          <th>
            led_152
          </th>
        
          <th>
            led_153
          </th>
        
          <th>
            led_154
          </th>
        
          <th>
            led_155
          </th>
        
          <th>
            led_156
          </th>
        
          <th>
            led_157
          </th>
        
          <th>
            led_158
          </th>
        
          <th>
            led_159
          </th>
        
          <th>
            led_160
          </th>
        
          <th>
            led_161
          </th>
        
          <th>
            led_162
          </th>
        
          <th>
            led_163
          </th>
        
          <th>
            led_164
          </th>
        
          <th>
            led_165
          </th>
        
          <th>
            led_166
          </th>
        
          <th>
            led_167
          </th>
        
          <th>
            led_168
          </th>
        
          <th>
            led_169
          </th>
        
          <th>
            led_170
          </th>
        
          <th>
            led_171
          </th>
        
          <th>
            led_172
          </th>
        
          <th>
            led_173
          </th>
        
          <th>
            led_174
          </th>
        
          <th>
            led_175
          </th>
        
          <th>
            led_176
          </th>
        
          <th>
            led_177
          </th>
        
          <th>
            led_178
          </th>
        
          <th>
            led_179
          </th>
        
          <th>
            led_180
          </th>
        
          <th>
            led_181
          </th>
        
          <th>
            led_182
          </th>
        
          <th>
            led_183
          </th>
        
          <th>
            led_184
          </th>
        
          <th>
            led_185
          </th>
        
          <th>
            led_186
          </th>
        
          <th>
            led_187
          </th>
        
          <th>
            led_188
          </th>
        
          <th>
            led_189
          </th>
        
          <th>
            led_190
          </th>
        
          <th>
            led_191
          </th>
        
          <th>
            led_192
          </th>
        
          <th>
            led_193
          </th>
        
          <th>
            led_194
          </th>
        
          <th>
            led_195
          </th>
        
          <th>
            led_196
          </th>
        
          <th>
            led_197
          </th>
        
          <th>
            led_198
          </th>
        
          <th>
            led_199
          </th>
        
          <th>
            led_200
          </th>
        
          <th>
            led_201
          </th>
        
          <th>
            led_202
          </th>
        
          <th>
            led_203
          </th>
        
          <th>
            led_204
          </th>
        
          <th>
            led_205
          </th>
        
          <th>
            led_206
          </th>
        
          <th>
            led_207
          </th>
        
          <th>
            led_208
          </th>
        
          <th>
            led_209
          </th>
        
          <th>
            led_210
          </th>
        
          <th>
            led_211
          </th>
        
          <th>
            led_212
          </th>
        
          <th>
            led_213
          </th>
        
          <th>
            led_214
          </th>
        
          <th>
            led_215
          </th>
        
          <th>
            led_216
          </th>
        
          <th>
            led_217
          </th>
        
          <th>
            led_218
          </th>
        
          <th>
            led_219
          </th>
        
          <th>
            led_220
          </th>
        
          <th>
            led_221
          </th>
        
          <th>
            led_222
          </th>
        
          <th>
            led_223
          </th>
        
          <th>
            led_224
          </th>
        
          <th>
            led_225
          </th>
        
          <th>
            led_226
          </th>
        
          <th>
            led_227
          </th>
        
          <th>
            led_228
          </th>
        
          <th>
            led_229
          </th>
        
          <th>
            led_230
          </th>
        
          <th>
            led_231
          </th>
        
          <th>
            led_232
          </th>
        
          <th>
            led_233
          </th>
        
          <th>
            led_234
          </th>
        
          <th>
            led_235
          </th>
        
          <th>
            led_236
          </th>
        
          <th>
            led_237
          </th>
        
          <th>
            led_238
          </th>
        
          <th>
            led_239
          </th>
        
      
      <th>
        &nbsp;
      </th>
    </tr>
  </thead>
  <tbody>
    <% @wires.each do |object| %>
      <tr id='<%= object.apiotics_instance %>'>
        <td>
          <%= object.apiotics_instance %>
        </td>
        <td>
          <%= object.name %>
        </td>
        
          
            <td class='wire-neo_pixel-led_0'>
              <%= object.neo_pixel.led_0 %>
            </td>
          
            <td class='wire-neo_pixel-led_1'>
              <%= object.neo_pixel.led_1 %>
            </td>
          
            <td class='wire-neo_pixel-led_2'>
              <%= object.neo_pixel.led_2 %>
            </td>
          
            <td class='wire-neo_pixel-led_3'>
              <%= object.neo_pixel.led_3 %>
            </td>
          
            <td class='wire-neo_pixel-led_4'>
              <%= object.neo_pixel.led_4 %>
            </td>
          
            <td class='wire-neo_pixel-led_5'>
              <%= object.neo_pixel.led_5 %>
            </td>
          
            <td class='wire-neo_pixel-led_6'>
              <%= object.neo_pixel.led_6 %>
            </td>
          
            <td class='wire-neo_pixel-led_7'>
              <%= object.neo_pixel.led_7 %>
            </td>
          
            <td class='wire-neo_pixel-led_8'>
              <%= object.neo_pixel.led_8 %>
            </td>
          
            <td class='wire-neo_pixel-led_9'>
              <%= object.neo_pixel.led_9 %>
            </td>
          
            <td class='wire-neo_pixel-led_10'>
              <%= object.neo_pixel.led_10 %>
            </td>
          
            <td class='wire-neo_pixel-led_11'>
              <%= object.neo_pixel.led_11 %>
            </td>
          
            <td class='wire-neo_pixel-led_12'>
              <%= object.neo_pixel.led_12 %>
            </td>
          
            <td class='wire-neo_pixel-led_13'>
              <%= object.neo_pixel.led_13 %>
            </td>
          
            <td class='wire-neo_pixel-led_14'>
              <%= object.neo_pixel.led_14 %>
            </td>
          
            <td class='wire-neo_pixel-led_15'>
              <%= object.neo_pixel.led_15 %>
            </td>
          
            <td class='wire-neo_pixel-led_16'>
              <%= object.neo_pixel.led_16 %>
            </td>
          
            <td class='wire-neo_pixel-led_17'>
              <%= object.neo_pixel.led_17 %>
            </td>
          
            <td class='wire-neo_pixel-led_18'>
              <%= object.neo_pixel.led_18 %>
            </td>
          
            <td class='wire-neo_pixel-led_19'>
              <%= object.neo_pixel.led_19 %>
            </td>
          
            <td class='wire-neo_pixel-led_20'>
              <%= object.neo_pixel.led_20 %>
            </td>
          
            <td class='wire-neo_pixel-led_21'>
              <%= object.neo_pixel.led_21 %>
            </td>
          
            <td class='wire-neo_pixel-led_22'>
              <%= object.neo_pixel.led_22 %>
            </td>
          
            <td class='wire-neo_pixel-led_23'>
              <%= object.neo_pixel.led_23 %>
            </td>
          
            <td class='wire-neo_pixel-led_24'>
              <%= object.neo_pixel.led_24 %>
            </td>
          
            <td class='wire-neo_pixel-led_25'>
              <%= object.neo_pixel.led_25 %>
            </td>
          
            <td class='wire-neo_pixel-led_26'>
              <%= object.neo_pixel.led_26 %>
            </td>
          
            <td class='wire-neo_pixel-led_27'>
              <%= object.neo_pixel.led_27 %>
            </td>
          
            <td class='wire-neo_pixel-led_28'>
              <%= object.neo_pixel.led_28 %>
            </td>
          
            <td class='wire-neo_pixel-led_29'>
              <%= object.neo_pixel.led_29 %>
            </td>
          
            <td class='wire-neo_pixel-led_30'>
              <%= object.neo_pixel.led_30 %>
            </td>
          
            <td class='wire-neo_pixel-led_31'>
              <%= object.neo_pixel.led_31 %>
            </td>
          
            <td class='wire-neo_pixel-led_32'>
              <%= object.neo_pixel.led_32 %>
            </td>
          
            <td class='wire-neo_pixel-led_33'>
              <%= object.neo_pixel.led_33 %>
            </td>
          
            <td class='wire-neo_pixel-led_34'>
              <%= object.neo_pixel.led_34 %>
            </td>
          
            <td class='wire-neo_pixel-led_35'>
              <%= object.neo_pixel.led_35 %>
            </td>
          
            <td class='wire-neo_pixel-led_36'>
              <%= object.neo_pixel.led_36 %>
            </td>
          
            <td class='wire-neo_pixel-led_37'>
              <%= object.neo_pixel.led_37 %>
            </td>
          
            <td class='wire-neo_pixel-led_38'>
              <%= object.neo_pixel.led_38 %>
            </td>
          
            <td class='wire-neo_pixel-led_39'>
              <%= object.neo_pixel.led_39 %>
            </td>
          
            <td class='wire-neo_pixel-led_40'>
              <%= object.neo_pixel.led_40 %>
            </td>
          
            <td class='wire-neo_pixel-led_41'>
              <%= object.neo_pixel.led_41 %>
            </td>
          
            <td class='wire-neo_pixel-led_42'>
              <%= object.neo_pixel.led_42 %>
            </td>
          
            <td class='wire-neo_pixel-led_43'>
              <%= object.neo_pixel.led_43 %>
            </td>
          
            <td class='wire-neo_pixel-led_44'>
              <%= object.neo_pixel.led_44 %>
            </td>
          
            <td class='wire-neo_pixel-led_45'>
              <%= object.neo_pixel.led_45 %>
            </td>
          
            <td class='wire-neo_pixel-led_46'>
              <%= object.neo_pixel.led_46 %>
            </td>
          
            <td class='wire-neo_pixel-led_47'>
              <%= object.neo_pixel.led_47 %>
            </td>
          
            <td class='wire-neo_pixel-led_48'>
              <%= object.neo_pixel.led_48 %>
            </td>
          
            <td class='wire-neo_pixel-led_49'>
              <%= object.neo_pixel.led_49 %>
            </td>
          
            <td class='wire-neo_pixel-led_50'>
              <%= object.neo_pixel.led_50 %>
            </td>
          
            <td class='wire-neo_pixel-led_51'>
              <%= object.neo_pixel.led_51 %>
            </td>
          
            <td class='wire-neo_pixel-led_52'>
              <%= object.neo_pixel.led_52 %>
            </td>
          
            <td class='wire-neo_pixel-led_53'>
              <%= object.neo_pixel.led_53 %>
            </td>
          
            <td class='wire-neo_pixel-led_54'>
              <%= object.neo_pixel.led_54 %>
            </td>
          
            <td class='wire-neo_pixel-led_55'>
              <%= object.neo_pixel.led_55 %>
            </td>
          
            <td class='wire-neo_pixel-led_56'>
              <%= object.neo_pixel.led_56 %>
            </td>
          
            <td class='wire-neo_pixel-led_57'>
              <%= object.neo_pixel.led_57 %>
            </td>
          
            <td class='wire-neo_pixel-led_58'>
              <%= object.neo_pixel.led_58 %>
            </td>
          
            <td class='wire-neo_pixel-led_59'>
              <%= object.neo_pixel.led_59 %>
            </td>
          
            <td class='wire-neo_pixel-led_60'>
              <%= object.neo_pixel.led_60 %>
            </td>
          
            <td class='wire-neo_pixel-led_61'>
              <%= object.neo_pixel.led_61 %>
            </td>
          
            <td class='wire-neo_pixel-led_62'>
              <%= object.neo_pixel.led_62 %>
            </td>
          
            <td class='wire-neo_pixel-led_63'>
              <%= object.neo_pixel.led_63 %>
            </td>
          
            <td class='wire-neo_pixel-led_64'>
              <%= object.neo_pixel.led_64 %>
            </td>
          
            <td class='wire-neo_pixel-led_65'>
              <%= object.neo_pixel.led_65 %>
            </td>
          
            <td class='wire-neo_pixel-led_66'>
              <%= object.neo_pixel.led_66 %>
            </td>
          
            <td class='wire-neo_pixel-led_67'>
              <%= object.neo_pixel.led_67 %>
            </td>
          
            <td class='wire-neo_pixel-led_68'>
              <%= object.neo_pixel.led_68 %>
            </td>
          
            <td class='wire-neo_pixel-led_69'>
              <%= object.neo_pixel.led_69 %>
            </td>
          
            <td class='wire-neo_pixel-led_70'>
              <%= object.neo_pixel.led_70 %>
            </td>
          
            <td class='wire-neo_pixel-led_71'>
              <%= object.neo_pixel.led_71 %>
            </td>
          
            <td class='wire-neo_pixel-led_72'>
              <%= object.neo_pixel.led_72 %>
            </td>
          
            <td class='wire-neo_pixel-led_73'>
              <%= object.neo_pixel.led_73 %>
            </td>
          
            <td class='wire-neo_pixel-led_74'>
              <%= object.neo_pixel.led_74 %>
            </td>
          
            <td class='wire-neo_pixel-led_75'>
              <%= object.neo_pixel.led_75 %>
            </td>
          
            <td class='wire-neo_pixel-led_76'>
              <%= object.neo_pixel.led_76 %>
            </td>
          
            <td class='wire-neo_pixel-led_77'>
              <%= object.neo_pixel.led_77 %>
            </td>
          
            <td class='wire-neo_pixel-led_78'>
              <%= object.neo_pixel.led_78 %>
            </td>
          
            <td class='wire-neo_pixel-led_79'>
              <%= object.neo_pixel.led_79 %>
            </td>
          
            <td class='wire-neo_pixel-led_80'>
              <%= object.neo_pixel.led_80 %>
            </td>
          
            <td class='wire-neo_pixel-led_81'>
              <%= object.neo_pixel.led_81 %>
            </td>
          
            <td class='wire-neo_pixel-led_82'>
              <%= object.neo_pixel.led_82 %>
            </td>
          
            <td class='wire-neo_pixel-led_83'>
              <%= object.neo_pixel.led_83 %>
            </td>
          
            <td class='wire-neo_pixel-led_84'>
              <%= object.neo_pixel.led_84 %>
            </td>
          
            <td class='wire-neo_pixel-led_85'>
              <%= object.neo_pixel.led_85 %>
            </td>
          
            <td class='wire-neo_pixel-led_86'>
              <%= object.neo_pixel.led_86 %>
            </td>
          
            <td class='wire-neo_pixel-led_87'>
              <%= object.neo_pixel.led_87 %>
            </td>
          
            <td class='wire-neo_pixel-led_88'>
              <%= object.neo_pixel.led_88 %>
            </td>
          
            <td class='wire-neo_pixel-led_89'>
              <%= object.neo_pixel.led_89 %>
            </td>
          
            <td class='wire-neo_pixel-led_90'>
              <%= object.neo_pixel.led_90 %>
            </td>
          
            <td class='wire-neo_pixel-led_91'>
              <%= object.neo_pixel.led_91 %>
            </td>
          
            <td class='wire-neo_pixel-led_92'>
              <%= object.neo_pixel.led_92 %>
            </td>
          
            <td class='wire-neo_pixel-led_93'>
              <%= object.neo_pixel.led_93 %>
            </td>
          
            <td class='wire-neo_pixel-led_94'>
              <%= object.neo_pixel.led_94 %>
            </td>
          
            <td class='wire-neo_pixel-led_95'>
              <%= object.neo_pixel.led_95 %>
            </td>
          
            <td class='wire-neo_pixel-led_96'>
              <%= object.neo_pixel.led_96 %>
            </td>
          
            <td class='wire-neo_pixel-led_97'>
              <%= object.neo_pixel.led_97 %>
            </td>
          
            <td class='wire-neo_pixel-led_98'>
              <%= object.neo_pixel.led_98 %>
            </td>
          
            <td class='wire-neo_pixel-led_99'>
              <%= object.neo_pixel.led_99 %>
            </td>
          
            <td class='wire-neo_pixel-led_100'>
              <%= object.neo_pixel.led_100 %>
            </td>
          
            <td class='wire-neo_pixel-led_101'>
              <%= object.neo_pixel.led_101 %>
            </td>
          
            <td class='wire-neo_pixel-led_102'>
              <%= object.neo_pixel.led_102 %>
            </td>
          
            <td class='wire-neo_pixel-led_103'>
              <%= object.neo_pixel.led_103 %>
            </td>
          
            <td class='wire-neo_pixel-led_104'>
              <%= object.neo_pixel.led_104 %>
            </td>
          
            <td class='wire-neo_pixel-led_105'>
              <%= object.neo_pixel.led_105 %>
            </td>
          
            <td class='wire-neo_pixel-led_106'>
              <%= object.neo_pixel.led_106 %>
            </td>
          
            <td class='wire-neo_pixel-led_107'>
              <%= object.neo_pixel.led_107 %>
            </td>
          
            <td class='wire-neo_pixel-led_108'>
              <%= object.neo_pixel.led_108 %>
            </td>
          
            <td class='wire-neo_pixel-led_109'>
              <%= object.neo_pixel.led_109 %>
            </td>
          
            <td class='wire-neo_pixel-led_110'>
              <%= object.neo_pixel.led_110 %>
            </td>
          
            <td class='wire-neo_pixel-led_111'>
              <%= object.neo_pixel.led_111 %>
            </td>
          
            <td class='wire-neo_pixel-led_112'>
              <%= object.neo_pixel.led_112 %>
            </td>
          
            <td class='wire-neo_pixel-led_113'>
              <%= object.neo_pixel.led_113 %>
            </td>
          
            <td class='wire-neo_pixel-led_114'>
              <%= object.neo_pixel.led_114 %>
            </td>
          
            <td class='wire-neo_pixel-led_115'>
              <%= object.neo_pixel.led_115 %>
            </td>
          
            <td class='wire-neo_pixel-led_116'>
              <%= object.neo_pixel.led_116 %>
            </td>
          
            <td class='wire-neo_pixel-led_117'>
              <%= object.neo_pixel.led_117 %>
            </td>
          
            <td class='wire-neo_pixel-led_118'>
              <%= object.neo_pixel.led_118 %>
            </td>
          
            <td class='wire-neo_pixel-led_119'>
              <%= object.neo_pixel.led_119 %>
            </td>
          
            <td class='wire-neo_pixel-led_120'>
              <%= object.neo_pixel.led_120 %>
            </td>
          
            <td class='wire-neo_pixel-led_121'>
              <%= object.neo_pixel.led_121 %>
            </td>
          
            <td class='wire-neo_pixel-led_122'>
              <%= object.neo_pixel.led_122 %>
            </td>
          
            <td class='wire-neo_pixel-led_123'>
              <%= object.neo_pixel.led_123 %>
            </td>
          
            <td class='wire-neo_pixel-led_124'>
              <%= object.neo_pixel.led_124 %>
            </td>
          
            <td class='wire-neo_pixel-led_125'>
              <%= object.neo_pixel.led_125 %>
            </td>
          
            <td class='wire-neo_pixel-led_126'>
              <%= object.neo_pixel.led_126 %>
            </td>
          
            <td class='wire-neo_pixel-led_127'>
              <%= object.neo_pixel.led_127 %>
            </td>
          
            <td class='wire-neo_pixel-led_128'>
              <%= object.neo_pixel.led_128 %>
            </td>
          
            <td class='wire-neo_pixel-led_129'>
              <%= object.neo_pixel.led_129 %>
            </td>
          
            <td class='wire-neo_pixel-led_130'>
              <%= object.neo_pixel.led_130 %>
            </td>
          
            <td class='wire-neo_pixel-led_131'>
              <%= object.neo_pixel.led_131 %>
            </td>
          
            <td class='wire-neo_pixel-led_132'>
              <%= object.neo_pixel.led_132 %>
            </td>
          
            <td class='wire-neo_pixel-led_133'>
              <%= object.neo_pixel.led_133 %>
            </td>
          
            <td class='wire-neo_pixel-led_134'>
              <%= object.neo_pixel.led_134 %>
            </td>
          
            <td class='wire-neo_pixel-led_135'>
              <%= object.neo_pixel.led_135 %>
            </td>
          
            <td class='wire-neo_pixel-led_136'>
              <%= object.neo_pixel.led_136 %>
            </td>
          
            <td class='wire-neo_pixel-led_137'>
              <%= object.neo_pixel.led_137 %>
            </td>
          
            <td class='wire-neo_pixel-led_138'>
              <%= object.neo_pixel.led_138 %>
            </td>
          
            <td class='wire-neo_pixel-led_139'>
              <%= object.neo_pixel.led_139 %>
            </td>
          
            <td class='wire-neo_pixel-led_140'>
              <%= object.neo_pixel.led_140 %>
            </td>
          
            <td class='wire-neo_pixel-led_141'>
              <%= object.neo_pixel.led_141 %>
            </td>
          
            <td class='wire-neo_pixel-led_142'>
              <%= object.neo_pixel.led_142 %>
            </td>
          
            <td class='wire-neo_pixel-led_143'>
              <%= object.neo_pixel.led_143 %>
            </td>
          
            <td class='wire-neo_pixel-led_144'>
              <%= object.neo_pixel.led_144 %>
            </td>
          
            <td class='wire-neo_pixel-led_145'>
              <%= object.neo_pixel.led_145 %>
            </td>
          
            <td class='wire-neo_pixel-led_146'>
              <%= object.neo_pixel.led_146 %>
            </td>
          
            <td class='wire-neo_pixel-led_147'>
              <%= object.neo_pixel.led_147 %>
            </td>
          
            <td class='wire-neo_pixel-led_148'>
              <%= object.neo_pixel.led_148 %>
            </td>
          
            <td class='wire-neo_pixel-led_149'>
              <%= object.neo_pixel.led_149 %>
            </td>
          
            <td class='wire-neo_pixel-led_150'>
              <%= object.neo_pixel.led_150 %>
            </td>
          
            <td class='wire-neo_pixel-led_151'>
              <%= object.neo_pixel.led_151 %>
            </td>
          
            <td class='wire-neo_pixel-led_152'>
              <%= object.neo_pixel.led_152 %>
            </td>
          
            <td class='wire-neo_pixel-led_153'>
              <%= object.neo_pixel.led_153 %>
            </td>
          
            <td class='wire-neo_pixel-led_154'>
              <%= object.neo_pixel.led_154 %>
            </td>
          
            <td class='wire-neo_pixel-led_155'>
              <%= object.neo_pixel.led_155 %>
            </td>
          
            <td class='wire-neo_pixel-led_156'>
              <%= object.neo_pixel.led_156 %>
            </td>
          
            <td class='wire-neo_pixel-led_157'>
              <%= object.neo_pixel.led_157 %>
            </td>
          
            <td class='wire-neo_pixel-led_158'>
              <%= object.neo_pixel.led_158 %>
            </td>
          
            <td class='wire-neo_pixel-led_159'>
              <%= object.neo_pixel.led_159 %>
            </td>
          
            <td class='wire-neo_pixel-led_160'>
              <%= object.neo_pixel.led_160 %>
            </td>
          
            <td class='wire-neo_pixel-led_161'>
              <%= object.neo_pixel.led_161 %>
            </td>
          
            <td class='wire-neo_pixel-led_162'>
              <%= object.neo_pixel.led_162 %>
            </td>
          
            <td class='wire-neo_pixel-led_163'>
              <%= object.neo_pixel.led_163 %>
            </td>
          
            <td class='wire-neo_pixel-led_164'>
              <%= object.neo_pixel.led_164 %>
            </td>
          
            <td class='wire-neo_pixel-led_165'>
              <%= object.neo_pixel.led_165 %>
            </td>
          
            <td class='wire-neo_pixel-led_166'>
              <%= object.neo_pixel.led_166 %>
            </td>
          
            <td class='wire-neo_pixel-led_167'>
              <%= object.neo_pixel.led_167 %>
            </td>
          
            <td class='wire-neo_pixel-led_168'>
              <%= object.neo_pixel.led_168 %>
            </td>
          
            <td class='wire-neo_pixel-led_169'>
              <%= object.neo_pixel.led_169 %>
            </td>
          
            <td class='wire-neo_pixel-led_170'>
              <%= object.neo_pixel.led_170 %>
            </td>
          
            <td class='wire-neo_pixel-led_171'>
              <%= object.neo_pixel.led_171 %>
            </td>
          
            <td class='wire-neo_pixel-led_172'>
              <%= object.neo_pixel.led_172 %>
            </td>
          
            <td class='wire-neo_pixel-led_173'>
              <%= object.neo_pixel.led_173 %>
            </td>
          
            <td class='wire-neo_pixel-led_174'>
              <%= object.neo_pixel.led_174 %>
            </td>
          
            <td class='wire-neo_pixel-led_175'>
              <%= object.neo_pixel.led_175 %>
            </td>
          
            <td class='wire-neo_pixel-led_176'>
              <%= object.neo_pixel.led_176 %>
            </td>
          
            <td class='wire-neo_pixel-led_177'>
              <%= object.neo_pixel.led_177 %>
            </td>
          
            <td class='wire-neo_pixel-led_178'>
              <%= object.neo_pixel.led_178 %>
            </td>
          
            <td class='wire-neo_pixel-led_179'>
              <%= object.neo_pixel.led_179 %>
            </td>
          
            <td class='wire-neo_pixel-led_180'>
              <%= object.neo_pixel.led_180 %>
            </td>
          
            <td class='wire-neo_pixel-led_181'>
              <%= object.neo_pixel.led_181 %>
            </td>
          
            <td class='wire-neo_pixel-led_182'>
              <%= object.neo_pixel.led_182 %>
            </td>
          
            <td class='wire-neo_pixel-led_183'>
              <%= object.neo_pixel.led_183 %>
            </td>
          
            <td class='wire-neo_pixel-led_184'>
              <%= object.neo_pixel.led_184 %>
            </td>
          
            <td class='wire-neo_pixel-led_185'>
              <%= object.neo_pixel.led_185 %>
            </td>
          
            <td class='wire-neo_pixel-led_186'>
              <%= object.neo_pixel.led_186 %>
            </td>
          
            <td class='wire-neo_pixel-led_187'>
              <%= object.neo_pixel.led_187 %>
            </td>
          
            <td class='wire-neo_pixel-led_188'>
              <%= object.neo_pixel.led_188 %>
            </td>
          
            <td class='wire-neo_pixel-led_189'>
              <%= object.neo_pixel.led_189 %>
            </td>
          
            <td class='wire-neo_pixel-led_190'>
              <%= object.neo_pixel.led_190 %>
            </td>
          
            <td class='wire-neo_pixel-led_191'>
              <%= object.neo_pixel.led_191 %>
            </td>
          
            <td class='wire-neo_pixel-led_192'>
              <%= object.neo_pixel.led_192 %>
            </td>
          
            <td class='wire-neo_pixel-led_193'>
              <%= object.neo_pixel.led_193 %>
            </td>
          
            <td class='wire-neo_pixel-led_194'>
              <%= object.neo_pixel.led_194 %>
            </td>
          
            <td class='wire-neo_pixel-led_195'>
              <%= object.neo_pixel.led_195 %>
            </td>
          
            <td class='wire-neo_pixel-led_196'>
              <%= object.neo_pixel.led_196 %>
            </td>
          
            <td class='wire-neo_pixel-led_197'>
              <%= object.neo_pixel.led_197 %>
            </td>
          
            <td class='wire-neo_pixel-led_198'>
              <%= object.neo_pixel.led_198 %>
            </td>
          
            <td class='wire-neo_pixel-led_199'>
              <%= object.neo_pixel.led_199 %>
            </td>
          
            <td class='wire-neo_pixel-led_200'>
              <%= object.neo_pixel.led_200 %>
            </td>
          
            <td class='wire-neo_pixel-led_201'>
              <%= object.neo_pixel.led_201 %>
            </td>
          
            <td class='wire-neo_pixel-led_202'>
              <%= object.neo_pixel.led_202 %>
            </td>
          
            <td class='wire-neo_pixel-led_203'>
              <%= object.neo_pixel.led_203 %>
            </td>
          
            <td class='wire-neo_pixel-led_204'>
              <%= object.neo_pixel.led_204 %>
            </td>
          
            <td class='wire-neo_pixel-led_205'>
              <%= object.neo_pixel.led_205 %>
            </td>
          
            <td class='wire-neo_pixel-led_206'>
              <%= object.neo_pixel.led_206 %>
            </td>
          
            <td class='wire-neo_pixel-led_207'>
              <%= object.neo_pixel.led_207 %>
            </td>
          
            <td class='wire-neo_pixel-led_208'>
              <%= object.neo_pixel.led_208 %>
            </td>
          
            <td class='wire-neo_pixel-led_209'>
              <%= object.neo_pixel.led_209 %>
            </td>
          
            <td class='wire-neo_pixel-led_210'>
              <%= object.neo_pixel.led_210 %>
            </td>
          
            <td class='wire-neo_pixel-led_211'>
              <%= object.neo_pixel.led_211 %>
            </td>
          
            <td class='wire-neo_pixel-led_212'>
              <%= object.neo_pixel.led_212 %>
            </td>
          
            <td class='wire-neo_pixel-led_213'>
              <%= object.neo_pixel.led_213 %>
            </td>
          
            <td class='wire-neo_pixel-led_214'>
              <%= object.neo_pixel.led_214 %>
            </td>
          
            <td class='wire-neo_pixel-led_215'>
              <%= object.neo_pixel.led_215 %>
            </td>
          
            <td class='wire-neo_pixel-led_216'>
              <%= object.neo_pixel.led_216 %>
            </td>
          
            <td class='wire-neo_pixel-led_217'>
              <%= object.neo_pixel.led_217 %>
            </td>
          
            <td class='wire-neo_pixel-led_218'>
              <%= object.neo_pixel.led_218 %>
            </td>
          
            <td class='wire-neo_pixel-led_219'>
              <%= object.neo_pixel.led_219 %>
            </td>
          
            <td class='wire-neo_pixel-led_220'>
              <%= object.neo_pixel.led_220 %>
            </td>
          
            <td class='wire-neo_pixel-led_221'>
              <%= object.neo_pixel.led_221 %>
            </td>
          
            <td class='wire-neo_pixel-led_222'>
              <%= object.neo_pixel.led_222 %>
            </td>
          
            <td class='wire-neo_pixel-led_223'>
              <%= object.neo_pixel.led_223 %>
            </td>
          
            <td class='wire-neo_pixel-led_224'>
              <%= object.neo_pixel.led_224 %>
            </td>
          
            <td class='wire-neo_pixel-led_225'>
              <%= object.neo_pixel.led_225 %>
            </td>
          
            <td class='wire-neo_pixel-led_226'>
              <%= object.neo_pixel.led_226 %>
            </td>
          
            <td class='wire-neo_pixel-led_227'>
              <%= object.neo_pixel.led_227 %>
            </td>
          
            <td class='wire-neo_pixel-led_228'>
              <%= object.neo_pixel.led_228 %>
            </td>
          
            <td class='wire-neo_pixel-led_229'>
              <%= object.neo_pixel.led_229 %>
            </td>
          
            <td class='wire-neo_pixel-led_230'>
              <%= object.neo_pixel.led_230 %>
            </td>
          
            <td class='wire-neo_pixel-led_231'>
              <%= object.neo_pixel.led_231 %>
            </td>
          
            <td class='wire-neo_pixel-led_232'>
              <%= object.neo_pixel.led_232 %>
            </td>
          
            <td class='wire-neo_pixel-led_233'>
              <%= object.neo_pixel.led_233 %>
            </td>
          
            <td class='wire-neo_pixel-led_234'>
              <%= object.neo_pixel.led_234 %>
            </td>
          
            <td class='wire-neo_pixel-led_235'>
              <%= object.neo_pixel.led_235 %>
            </td>
          
            <td class='wire-neo_pixel-led_236'>
              <%= object.neo_pixel.led_236 %>
            </td>
          
            <td class='wire-neo_pixel-led_237'>
              <%= object.neo_pixel.led_237 %>
            </td>
          
            <td class='wire-neo_pixel-led_238'>
              <%= object.neo_pixel.led_238 %>
            </td>
          
            <td class='wire-neo_pixel-led_239'>
              <%= object.neo_pixel.led_239 %>
            </td>
          
        
        <td>
          <%= link_to "Edit", edit_wire_path(object)%>
          <%= link_to "Show", wire_path(object) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>