<%= render 'cord/cords#index' unless user_signed_in? %>
<h1>Patterns</h1>

<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th colspan="3">
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <% @static_patterns.each do |static_pattern| %>
      <tr>
        <td><%= static_pattern.name%></td>
        <td><%= link_to 'Show', static_pattern %></td>
        <td><%= link_to 'Edit', edit_static_pattern_path(static_pattern) %></td>
        <td><%= link_to 'Destroy', static_pattern, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pattern', new_static_pattern_path %>
