<p id="notice"><%= notice %></p>
<h1>
  Nodes
</h1>

<table class='table'>
  <thead>
    <tr>
      <th style="border: 1px solid black;">
        Name
      </th>
      <th colspan='1' style="border: 1px solid black;">
        Led
      </th>
      <th colspan='1' style="border: 1px solid black;">
        Button
      </th>
      <th colspan='2' style="border: 1px solid black;">
        NeoPixelStickEight
      </th>
      <th style="border: 1px solid black;">
        &nbsp;
      </th>
    </tr>
    <tr>
      <th>
        &nbsp;
      </th>
      <th>
        led_state
      </th>
      <th>
        safe
      </th>
      <th>
        led_index
      </th>
      <th>
        led_color
      </th>
      <th>
        &nbsp;
      </th>
    </tr>
  </thead>
  <tbody>
    <% @nodes.each do |object| %>
      <tr id='<%= object.apiotics_instance %>'>
        <td>
          <%= object.name %>
        </td>
          <td class='node-led-led_state'>
            <%= object.led.led_state %>
          </td>
          <td class='node-button-safe'>
            <%= object.button.safe %>
          </td>
          <td class='node-neo_pixel_stick_eight-led_index'>
            <%= object.neo_pixel_stick_eight.led_index %>
          </td>
          <td class='node-neo_pixel_stick_eight-led_color'>
            <%= object.neo_pixel_stick_eight.led_color %>
          </td>
        <td>
          <%= link_to "Edit", edit_node_path(object)%>
          <%= link_to "Display", node_path(object) %>
          <%= link_to "Commands", commands_node_path(object) %>
        </td>
        <th>
           <%= link_to "Led Algorithm", led_algorithm_path %>
           <%= link_to "Turn all Leds on", all_on_path %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>