<%= link_to 'Home', nodes_path %>
<%= @nodes.each do |node| %>
<%= (0..7).each do |i| %>
	<%= node.neo_pixel_stick_eight.led_index = i %>
    <%= node.neo_pixel_stick_eight.led_color = 255 %>

<% end %>
<% end %>
<h1> 
	This is the page where our algorithm will run


</h1>