
<div class="section-title">
  <h1>Cord Commands</h1>
</div>

<div class="row command_label">
  <div class="col-sm-1">
    <%= label_tag 'Command:' %>
  </div>
  <div class="col-sm-2">
    <select id="commands">
    <% get_commands.each do |c| %>
      <%= select_option_for(c) %>
    <% end %>
    </select>
  </div>
</div>
<div class="row command_label">
  <div class="col-sm-1">
    <%= label_tag 'Cord:' %>
  </div>
  <div class="col-sm-2">
    <%= collection_select :cord, :apiotics_instance, @cords, :apiotics_instance, :name, include_blank: false %>
  </div>
</div>

<%= form_tag(commands_path, html: {id: "commands-form", class: "form-horizontal"} ) do %>

<!-- loop through all commands and generate divs for each
 -->
  <div name="all_on_params" id="all_on_params" class="command-form-params" style="display:none">
    <%= hidden_field_tag(:command, "all_on") %>
    <div class="row command_label">
      <div class="col-sm-1">
        <%= label_tag 'Color:' %>
      </div>
      <div class="col-sm-1">
        <%= color_field_tag 'led_color' %>
      </div>
    </div>
  </div>
  <div name="all_off_params" id="all_off_params" class="command-form-params" style="display:none">
    <%= hidden_field_tag(:command, "all_off") %>
  </div>
  <div name="pattern_params" id="pattern_params" class="command-form-params" style="display:none">
    <%= hidden_field_tag(:command, "pattern") %>
  </div>
  <div name="rainbow_params" id="rainbow_params" class="command-form-params" style="display:none">
    <%= hidden_field_tag(:command, "rainbow") %>
    <div class="row command_label">
      <div class="col-sm-2">
        <%= label_tag 'Stripe width:' %>
      </div>
      <div class="col-sm-1">
        <%= number_field_tag 'stripe_width', nil, in: 1..34 %>
      </div>
    </div>
  </div>
  <div name="snake_params" id="snake_params" class="command-form-params" style="display:none">
    <%= hidden_field_tag(:command, "snake") %>
    <div class="row command_label">
      <div class="col-md-2">
        <%= label_tag 'Number of loops:' %>
      </div>
      <div class="col-md-1">
        <%= number_field_tag 'num_reps', nil, in: 1...100 %>
      </div>
    </div>
    <div class="row command_label">
      <div class="col-md-2">
        <%= label_tag 'Snake length:' %>
      </div>
      <div class="col-md-1">
        <%= number_field_tag 'snake_length', nil, in: 1...236 %>
      </div>
    </div>
    <div class="row command_label">
      <div class="col-md-2">
        <%= label_tag 'Snake color:' %>
      </div>
      <div class="col-md-1">
        <%= color_field_tag 'snake_color' %>
      </div>
    </div>
  </div>
  <div name="patterned_snake_params" id="patterned_snake_params" class="command-form-params" style="display:none">
    <%= hidden_field_tag(:command, "patterned_snake") %>
    <div class="row command_label">
      <div class="col-md-2">
        <%= label_tag 'Number of loops:' %>
      </div>
      <div class="col-md-1">
        <%= number_field_tag 'num_reps', nil, in: 1...100 %>
      </div>
    </div>
  </div>
  <div name="christmas_params" id="christmas_params" class="command-form-params" style="display:none">
    <%= hidden_field_tag(:command, "christmas") %>
    <div class="row command_label">
      <div class="col-md-2">
        <%= label_tag 'Number of repetitions:' %>
      </div>
      <div class="col-md-1">
        <%= number_field_tag 'num_reps', nil, in: 1...100 %>
      </div>
    </div>
  </div>
  <div name="dots_params" id="dots_params" class="command-form-params" style="display:none">
    <%= hidden_field_tag(:command, "moving_dots") %>
    <div class="row command_label">
      <div class="col-md-2">
        <%= label_tag 'Number of repetitions:' %>
      </div>
      <div class="col-md-1">
        <%= number_field_tag 'num_reps', nil, in: 1...100 %>
      </div>
    </div>
  </div>
  <div name="lightshow_params" id="lightshow_params" class="command-form-params" style="display:none">
    <%= hidden_field_tag(:command, "lightshow") %>
  </div>
  <div name="middle_pulse_params" id="middle_pulse_params" class="command-form-params" style="display:none">
    <%= hidden_field_tag(:command, "middle_pulse") %>
    <div class="row command_label">
      <div class="col-md-2">
        <%= label_tag 'Number of repetitions' %>
      </div>
      <div class="col-md-2">
        <%= number_field_tag 'num_reps', nil, in: 1...100 %>
      </div>
    </div>
    <div class="row command_label">
      <div class="col-md-2">
        <%= label_tag 'Color' %>
      </div>
      <div class="col-md-2">
        <%= color_field_tag 'led_color' %>
      </div>
    </div>
  </div>
  <div name="game_of_life_params" id="game_of_life_params" class="command-form-params" style="display:none">
    <%= hidden_field_tag(:command, "game_of_life") %>
    <div class="row command_label">
      <div class="col-md-2">
        <%= label_tag 'Number of repetitions' %>
      </div>
      <div class="col-md-2">
        <%= number_field_tag 'num_reps', nil, in: 1...100 %>
      </div>
    </div>
  </div>
  <div class="command-execute">
    <%= submit_tag("Execute", disabled: true, class: "run_command") %>
  </div>
<% end %> <!-- form -->

<script>
  $(function(){
      $('#commands').change(function() {
        $('.command-form-params').hide();
        $('#' + $(this).val()).show();
      });
    });

  $(document).ready(function(){
    $('#commands').trigger('change');
  });

    
</script>
