
<div class="section-title">
  <h1>Cord Commands</h1>
</div>

<%= form_with(url: new_command_path, html: {id: "commands-form", class: "form-horizontal"} ) do |f| %>

  <div class="row command_label">
    <div class="col-sm-1">
      <%= label_tag 'Command:' %>
    </div>
    <div class="col-sm-2">
      <%= select_tag 'selected_command', options_for_select(get_commands.collect{ |c| [ c.titleize, c ] }) %>
    </div>
  </div>
  <div class="row command_label">
    <div class="col-sm-1">
      <%= label_tag 'Cord:' %>
    </div>
    <div class="col-sm-2">
      <%= collection_select :cord, :id, @cords, :id, :name, include_blank: false %>
    </div>
  </div>

<!-- TODO: loop through all commands and generate divs for each via helper
 -->
  <div name="all_on" id="all_on" class="command-form-params" style="display:none">
    <div class="row command_label">
      <div class="col-sm-2">
        <%= label_tag 'Color:' %>
      </div>
      <div class="col-sm-1">
        <%= color_field_tag 'led_color' %>
      </div>
    </div>
  </div>

  <div name="all_off" id="all_off" class="command-form-params" style="display:none">
  </div>
  <div name="pattern" id="pattern" class="command-form-params" style="display:none">
  </div>
  <div name="rainbow" id="rainbow" class="command-form-params" style="display:none">
    <div class="row command_label">
      <div class="col-sm-2">
        <%= label_tag 'Stripe width:' %>
      </div>
      <div class="col-sm-1">
        <%= number_field_tag 'stripe_width', nil, in: 1..34 %>
      </div>
    </div>
  </div>
  <div name="snake" id="snake" class="command-form-params" style="display:none">
    <div class="row command_label">
      <div class="col-sm-2">
        <%= label_tag 'Number of loops:' %>
      </div>
      <div class="col-sm-1">
        <%= number_field_tag 'num_reps', nil, in: 1...100 %>
      </div>
    </div>
    <div class="row command_label">
      <div class="col-sm-2">
        <%= label_tag 'Snake length:' %>
      </div>
      <div class="col-sm-1">
        <%= number_field_tag 'snake_length', nil, in: 1...236 %>
      </div>
    </div>
    <div class="row command_label">
      <div class="col-sm-2">
        <%= label_tag 'Snake color:' %>
      </div>
      <div class="col-sm-1">
        <%= color_field_tag 'snake_color' %>
      </div>
    </div>
  </div>
  <div name="patterned_snake" id="patterned_snake" class="command-form-params" style="display:none">
    <div class="row command_label">
      <div class="col-sm-2">
        <%= label_tag 'Number of loops:' %>
      </div>
      <div class="col-sm-1">
        <%= number_field_tag 'num_reps', nil, in: 1...100 %>
      </div>
    </div>
  </div>
  <div name="christmas" id="christmas" class="command-form-params" style="display:none">
    <div class="row command_label">
      <div class="col-sm-2">
        <%= label_tag 'Number of repetitions:' %>
      </div>
      <div class="col-sm-1">
        <%= number_field_tag 'num_reps', nil, in: 1...100 %>
      </div>
    </div>
  </div>
  <div name="moving_dots" id="moving_dots" class="command-form-params" style="display:none">
    <div class="row command_label">
      <div class="col-sm-2">
        <%= label_tag 'Number of repetitions:' %>
      </div>
      <div class="col-sm-1">
        <%= number_field_tag 'num_reps', nil, in: 1...100 %>
      </div>
    </div>
  </div>
  <div name="lightshow" id="lightshow" class="command-form-params" style="display:none">
  </div>
  <div name="middle_pulse" id="middle_pulse" class="command-form-params" style="display:none">
    <div class="row command_label">
      <div class="col-sm-2">
        <%= label_tag 'Number of repetitions:' %>
      </div>
      <div class="col-sm-1">
        <%= number_field_tag 'num_reps', nil, in: 1...100 %>
      </div>
    </div>
    <div class="row command_label">
      <div class="col-sm-2">
        <%= label_tag 'Color:' %>
      </div>
      <div class="col-sm-1">
        <%= color_field_tag 'led_color' %>
      </div>
    </div>
  </div>
  <div name="game_of_life" id="game_of_life" class="command-form-params" style="display:none">
    <div class="row command_label">
      <div class="col-sm-2">
        <%= label_tag 'Number of cycles:' %>
      </div>
      <div class="col-sm-1">
        <%= number_field_tag 'num_reps', nil, in: 1...100 %>
      </div>
    </div>
  </div>
  <div class="command-execute">
    <%= submit_tag "Execute" %>
  </div>
<% end %> <!-- form -->

<script>
  $(function(){
      $('#selected_command').change(function() {
        $('.command-form-params').hide();
        $('.command-form-params').find("input").prop("disabled", true); 
        $('#' + $(this).val()).show();
        $('#' + $(this).val()).find(":input").prop("disabled", false); 
      });
    });

  $(document).ready(function(){
    $('#selected_command').select2()
    $('#selected_command').trigger('change');
  });



    
</script>
