<!DOCTYPE html>
<html>
  <head>
  	<title>Neotesting</title>
    <%= csrf_meta_tags %>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- JavaScript of Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- do I need the two links below? -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<meta name ="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  	<%= render 'layouts/header' %>
    <div class="container container-j">
    <div class="jumbotron">
      <%= render('layouts/messages') %>
      <%= yield %>
    </div>
    </div>
	</body>
</html>
